@import url("reset.css");
/*******
graph
*******/
.selector {
	fill-opacity: 0.2;
	stroke: #000;
	stroke-dasharray: 2, 4;
	vector-effect: non-scaling-stroke;
}

.selected {
	stroke: #00F;
}

.highlighted {
	stroke: #F00;
}

.arrow-link {
	stroke: rgba(255, 255, 255, 0.5);
	stroke-width: 0.3;
}

text {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

svg {
	width:100%;
	height:100%;
}

/*****
header
*****/
header {
	text-align: center;
	height: 15%;
}

header>h1 {
	margin: 0px !important;
	padding: 20 0 0 0 !important;
}

#graph_header {
	/*    position: absolute;*/
	left: 0;
	top: 0;
	z-index: 2;
	width: 100%;
}

/******
body
******/
html {
	margin: 0px;
	height: 100%;
	width: 100%;
}

body {
	margin: 0px;
	min-height: 100%;
	width: 100%;
	background-color: rgba(200, 200, 200, 0.6) !important;
}

h3 {
	line-height: 30px !important;
}

#error {
	color: red;
}

#loginBackground {
	border-radius: 15px;
	min-width: 250px;
	width: 35%;
	margin: auto;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	position: absolute;
}

#login_box {
	max-width: 200px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

.text_input {
	height: auto;
	display: block;
	width: 100%;
}

.check_box {
	padding: 5px;
	margin: 5px;
	display: block;
	width: 100%;
}

.button_input {
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
	display: block;
	width: 100%;
	border-radius: 10px;
}

/******/
#crawler {
	display: block;
	float: left;
	width: 40%;
	height: 75%;
}

#crawler_inner {
	width: 70%;
	max-height: 100%;
	margin: auto;
	overflow-y: auto; /*TODO FIX*/
}

.crawler_message {
	margin: 5px !important;
}

#crawler_form {
	height: 80px;
	margin-top: 10px;
}

#crawler_counter {
	display: none;
}

#alerts {
	overflow-y: auto;
}

#graphs {
	display: block;
	float: right;
	width: 60%;
	height: 75%
}

.close {
	margin-right: 5px;
}

#graphs_inner {
	width: 80%;
	max-height: 100%;
	margin: auto;
	overflow-y: auto; /*TODO FIX*/
}

#graphs_list {
	overflow-y: auto;
}

.graph_box {
	display: block;
	background-color: rgba(190, 190, 190, 1) !important;
	border: 1px solid black;
	margin: 2px;
}

.graph_box>table,#counter>table {
	width: 90%;
	margin: auto;
}

.graph_box>table tbody tr,#counter>table tbody tr {
	width: 100%;
}

.graph_box>table tbody tr td,#counter>table tbody tr td {
	width: 50%;
	padding: 5px;
}

/******/
#container {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

#container svg {
	
}

#leftbox {
	left: 0px;
	top: 0px;
	border-right: 2px solid rgba(0, 0, 0, 0.3)
}

#rightbox {
	right: 0px;
	top: 0px;
	display: none;
	width: 400px;
	border-left: 2px solid rgba(0, 0, 0, 0.3);
}

#close_button {
	margin: 10 10 10 10;
}

.graph_outer_box {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.2);
	height: auto;
	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.graph_inner_box {
	margin: 0 20 20 20;
	height: 100%;
}

.bootstrap-switch {
	display: block !important;
	margin: 2 0 5 0;
}

.graph_inner_box label {
	display: block;
	margin: 8 0 0 0;
}

#collapse_button {
	margin: 10 10 10 10;
}

#status_bar {
	height: 40px;
	width: 100%;
	position: absolute;
	bottom: 0px;
	left: 0px;
	z-index: 2;
	background-color: rgba(0, 0, 0, 0.2);
	border-top: 2px solid rgba(0, 0, 0, 0.3);
}

#inner_status_bar {
	width: 80%;
	margin: auto;
	text-align: center;
	vertical-aling: center;
	line-height: 40px;
}

.graph_table_field {
	text-align: right;
	padding: 2px;
}

.graph_table_data {
	padding: 2px;
}

.dropdown_option {
	padding: 5px;
	margin: auto;
}

.dropdown_button {
	min-width: 120px;
}

#context_menu,#group_context_menu {
	display: none;
	position: absolute;
}

/**********
footer 
**********/
#wrap {
	margin: 0 auto -60px;
	min-height: 100%;
	height: auto !important;
}

#push,footer {
	height: 60px;
	text-align: center;
	width: 100% !important;
	margin: auto;
}